html body.page footer#colophon.site-footer{
	width:100%;
	background-color:#3E3938;
	min-height:300px;
	div.darkband{
		width:100%;
		height:50px;
		background-color:$uwTan;
		//background: linear-gradient(to bottom, rgba(203,200,183,0) 0%,rgba(203,200,183,1) 100%);
	}
	div.contactInfo{
		width:60%;
		float:left;
		div.uwaddress{
			span,a{
				color:white;
			}
			h3{
				color:white;
			}
		}
	}
	div.support{
		width:35%;
		float:right;
	}
}
