.page-help #content{
	//background-color: #4C4C4C;
}

ul.tabs {
  //list-style-type: none;
  margin-top: 20px;
  padding: 0;
  text-align: center; 
  border-bottom: solid 3px silver;
}

  ul.tabs li {
    display: inline-block;
    height: 50px;
    background: linear-gradient(to bottom,rgba(128,128,128,1.0) 50%,rgba(115,115,115,1.0) 100%);
    //background-color: #666666;
    //border: solid 1px #B3B3B3;
    border-radius: .15em;
    padding: 18px 20px;
    //margin-bottom: 4px;
    color: #fff;
    cursor: pointer; 
}

  ul.tabs li:hover {
  	background: linear-gradient(to bottom,rgba(114,114,114,1.0) 50%,rgba(115,115,115,1.0) 100%);
  	//background-color: #BFBFBF; 
  }
  ul.tabs li.current {
   	//background-color: #800000;
   	background: linear-gradient(to bottom,rgba(150,0,1,.8) 50%,rgba(112,0,0,1.0) 100%);
   }


.tab-content{
	 display: none;
	 background: #ededed;
	 padding: 15px;
	 //border: solid 3px silver;
}

.tab-content.current{
	display: inherit;
}