#primary, #masthead {
  max-width: 1280px;
  margin: 0 auto;
}

#page {
  background: linear-gradient(to bottom, rgba(150,0,1,.8) 50%,rgba(150,0,1,0) 100%);
}

.home .headerContainer {

  position: relative;
  background: $primaryHeaderBg url("../../../dist/images/equipmentcollection2.svg") no-repeat;
  background-position: center center;
  background-size: 100% auto;
}

.headerContainer {

  position: relative;
  background: $primaryHeaderBg;
  background-position: center center;
  background-size: 100% auto;
}

#page {
  font-family: "Open Sans", sans-serif;
  padding: 2em;
  color: $white;

  .site-branding {
    h1 {
      font-size: 0px;
      text-indent: -100000px;

      a {
        display: block;
        width: 100%;
        max-width: 420px;
        height: 100px;
        background: url("../../../img/calsitlogo.svg") no-repeat;
        background-size: 100%;
        position: relative;

      }
    }

    h2 {
      position: absolute;
      top: -10000px;
    }
  }

  .main-navigation {

    margin-top: 1.3em;

    .menu-primary-menu-container {
      float: right;
    }

    li {

      margin-left: 1em;

        a {
          color: $white;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: 0.9em;
        }
    }


  }

}

.sideBarNav {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 300px;
  height: 100%;
  z-index:50;
  background: $navbg;
  color: $navtextcolor;
  padding: 2em;

  nav {

    li {
      float: none;

      a {
        color: $navtextcolor;
        font-weight: 300;
        font-size: 1.5em;
        padding-top: 0.8em;
        padding-bottom: 0.8em;
        border-bottom: 1px solid rgba(255,255,255,0.1);
        -webkit-font-smoothing: antialiased;
      }
    }
  }

}
