$primaryHeaderBg: #960001;
$white: rgba(255,255,255,0.9);
$navbg: #333333;
$navtextcolor: rgba(255,255,255,0.8);
$offwhite: rgba(249,249,249, 1);
$lightGrayBorder: rgba(244,245,246,1);

$charcoalRGBA: rgba(64,64,64, .7);